body {
    background-image: url("karting5.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

table {

    border: solid #ccc 1px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 3px #ccc;
    font-style: inherit;
   display: center;
}




th,
td {
    border-radius: 5px rgba(168, 162, 162, 0.836);
    padding: 5px;
    text-align: center;
    font-family: system-ui;
    color: rgba(63, 66, 66, 0.959)
    
}

th {
    border-radius: 2px;
    background-color: rgba(39, 179, 160, 0.733);
    color: rgba(255, 255, 255, 0.822);

}

tr:nth-child(odd) {
    background-color: #eee;
}


tr:hover {
    background-color: rgba(170, 170, 170, 0.651);
    cursor: pointer;
}

.formulario {
    width: 200px;
    margin: 0 auto;
    font-size: 20px;
    font-family: system-ui;
    color: rgb(90, 86, 86)
    
   
}

#formularioCircuitos {

    width: 200px;
    margin: 0 auto;
    font-family: system-ui;
    color: rgb(90, 86, 86)
}


#nombre,
#edad
{
background-color: rgb(255, 255, 255);
border-radius: 5px;
border: 1px solid rgb(211, 211, 211);


}

#agregar,
#circuitoBoton {
    width: 85px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
   

}

#siguiente {
    width:50%;
    align-items: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    padding: 0.85em 1.5em;
}


.card {
    position: relative;
    border: solid 0, 5px #ddd;
    border-radius: 5px;
    top: 100px;
    margin: 0 auto;
    padding: 80px 20px;
    width: 30%;
    background-color: rgba(220, 220, 220, 0.829);
    opacity: 0.9;
    background-position: right center;
    
}
